body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 60px);
    box-sizing: border-box;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.error {
    color: #dc3545;
}
#videoForm,
#trimVideoForm,
#extractAudioForm,
#trimAudioForm {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.module-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.module-container > div {
    flex: 1 1 300px; /* 初始宽度为300px，允许增长和缩小 */
    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    max-height: 400px; /* 限制模块的最大高度 */
    overflow-y: auto; /* 如果内容超出高度，则显示滚动条 */
}

@media (max-width: 600px) {
    .module-container > div {
        flex-basis: 100%; /* 在小屏幕上占据整行 */
    }
}

#result,
#trimVideoResult,
#extractResult,
#trimResult {
    margin-top: 10px;
    padding: 10px;
    background-color: #e9f5ff;
    border: 1px solid #b3d9ff;
    border-radius: 4px;
}

.time-inputs {
    margin: 10px 0;
}

.time-inputs label {
    display: inline-block;
    margin-right: 10px;
}

.time-inputs input {
    width: 80px;
    margin-right: 20px;
}
